.header {
  height: 56px;
  width: 100%;
  display: flex;
  padding: 0 14px;
  justify-content: space-between;
  align-items: center;
}

.header-list-item {
  display: flex;
  gap: 32px;
  align-items: center;
}

.icon-facebook {
  font-size: 36px;
  color: #0866ff;
}

.search-area {
  position: relative;
  display: flex;
  align-items: center;
}

.input-search {
  width: 350px;
}

.icon-search {
  position: absolute;
  right: 0;
  padding: 10px;
}

.avatar {
  height: 40px;
  border: 1px solid #dadada;
  padding: 3px;
  border-radius: 50%;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.info-name-with-img {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list-icon {
  display: flex;
  gap: 18px;
  font-size: 20px;
}

.icon-messenger {
  color: #0866ff;
  position: relative;
}

.count-messenger {
  font-size: 10px;
  position: absolute;
  color: #fff;
  background-color: red;
  padding: 2px 8px;
  border-radius: 10px;
  right: -13px;
  top: -5px;
}
