.header {
  height: 56px;
  width: 100%;
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
}

.header-list-item {
  display: flex;
  gap: 32px;
  align-items: center;
}

.icon-facebook {
  font-size: 36px;
  color: #0866ff;
}

.search-area {
  position: relative;
  display: flex;
  align-items: center;
}

.input-search {
  width: 350px;
}

.icon-search {
  position: absolute;
  right: 0;
  padding: 10px;
}

.avatar {
  height: 40px;
  border: 1px solid #dadada;
  padding: 3px;
  border-radius: 50%;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.info-name-with-img {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list-icon {
  display: flex;
  gap: 24px;
  font-size: 20px;
}

.list-icon i:hover {
  cursor: pointer;
}

.icon-messenger,
.icon-bell {
  color: #0866ff;
  position: relative;
}

.count-messenger,
.count-notifycation {
  font-size: 8px;
  position: absolute;
  color: #fff;
  background-color: red;
  padding: 3px 5px;
  border-radius: 10px;
  right: -12px;
  top: -5px;
  min-width: 10px;
}

.text-gray {
  color: #a9a2a2;
}

/* Dropdonw */
.icon-down {
  position: relative;
}

.list-option {
  position: absolute;
  color: black;
  right: -10px;
  width: 180px;
  top: 30px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #dadada;
  background-color: #fff;
  border-radius: 4px;
  display: none;
}

.icon-down:hover .list-option {
  display: block;
}

.list-option::after {
  content: "";
  border-bottom: 10px solid #a9a2a2;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -10px;
  right: 7px;
}

.list-option .option {
  padding: 8px 16px;
}

.list-option .option:hover {
  background-color: #dadada;
}
